@import '../../../styles/breakpoints';

$white: #fff;
$green: rgba(53, 69, 70, 1);
$red: rgba(85, 48, 76, 1);
$orange: rgba(84, 65, 70, 1);

.lista-produtos{
    padding: 20px;
    .nav{
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        align-items: center;
        @media(max-width: $tablet) {
            
          }
          @media(max-width: $mobile-sm) {
            grid-template-areas:
            "logo"
            "containerbusca"
            "registro";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            text-align: center;
          }


        .logo h2{
            font-size: 25px;
            color: $white;
            font-weight: 600;
        }
        .registrobtn{
            background: rgb(59, 173, 251);
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            border-radius: 5px;
            text-decoration: none;
            width: 142px;
            height: 34px;
            margin: 0 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            @media(max-width: $tablet) {
                // padding-top: 250px;
              }
              @media(max-width: $mobile-sm) {
                margin: 0;
                width: 100%;
              }
        }
    }

    .table{
        width: 100%;
    .tbody{
        display: flex;
        flex-direction: column;
        .tcard{
            display: grid;
            grid-template-columns: 225px fit-content(50%) 1fr;
            background: rgba(49, 45, 75, 1);
            padding: 10px;
            margin: 10px;
            border-radius: 8px;
            grid-gap: 10px;
            color: #fff;
            @media(max-width: $tablet) {
            }
            @media(max-width: $mobile-sm) {
                grid-template-columns: 0fr 1fr fit-content(100%);
                margin: 10px 0;
            }
            .codigo{
                grid-column: 1;
                grid-row: 1 / 4;
                text-align: center;
                display: grid;
                align-items: center;
                color: rgba(140, 87, 255, 1);
                @media(max-width: $tablet) {
                }
                @media(max-width: $mobile-sm) {
                    grid-row: 1;
                    display: flex;
                    align-items: flex-start;
                    line-height: 20px;
                }
            }
            .modelo{
                grid-column: 2;
                grid-row: 1;
                width: fit-content;
                text-transform: uppercase;
                @media(max-width: $tablet) {
                }
                @media(max-width: $mobile-sm) {
                  line-height: 20px;
                }
            }
            .cor{
                grid-column: 2;
                grid-row: 3;
                width: fit-content;
            }
            .valor{
                grid-column: 2;
                grid-row: 2;
                width: fit-content;
            }
            .status{
                grid-column: 3;
                grid-row: 1;
                width: fit-content;
                padding: 0 10px;
                border-radius: 35px;
                @media(max-width: $tablet) {
                }
                @media(max-width: $mobile-sm) {
                  padding: 0 5px;
                  font-size: 12px;
                  height: 20px;
                }
            }
            .excluir{
                grid-column: 4;
                grid-row: 1 / 4;
                text-align: center;
                display: grid;
                align-items: center;
                @media(max-width: $tablet) {
                }
                @media(max-width: $mobile-sm) {
                    grid-column: 3;
                    grid-row: 3;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
                button{
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }
            .editar{
                grid-column: 5;
                grid-row: 1 / 5;
                text-align: center;
                display: grid;
                align-items: center;
                margin: 10px;
                @media(max-width: $tablet) {
                }
                @media(max-width: $mobile-sm) {
                    grid-column: 1;
                    grid-row: 3;
                    display: flex;
                    margin: 0;
                }
                a{
                    @media(max-width: $mobile-sm) {
                        display: flex;
                    }
                }
                button{
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    
        // Estilos de status
      .in-stock {
        background-color: $green;
        color: rgba(86, 202, 0, 1);
      }
    
      .out-of-stock {
        background-color: $red;
        color: rgba(255, 76, 81, 1);
      }
    
      .in-transit {
        background-color: $orange;
        color: rgba(255, 180, 0, 1);
      }
    }
}
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader {
    animation: spin 1s linear infinite;
  }
  
  .excluir {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
