@import '../../../styles/breakpoints';

.searchContainer {
    margin: 10px 0;
    display: flex;
    justify-content: end;
    @media(max-width: $tablet) {
      
    }
    @media(max-width: $mobile-sm) {
      position: relative;
    }

    svg{
      color: #fff;
      position: relative;
      left: 25px;
      top: 8px;
      @media(max-width: $tablet) {
      
      }
      @media(max-width: $mobile-sm) {
        position: absolute;
        left: 7px;
        top: 10px;
      }
    }

  .searchInput {
    padding: 10px 35px;
    font-size: 12px;
    height: 35px;
    border: 1px solid rgba(202, 201, 205, 1);
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    background: transparent;
    color: #fff;
  }


}
  